body {
	background-color: #A010C0;
}

#container {
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: 75%;
	
	border: 1px solid blue;
}

#qbox {
	height: 40%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	
	border: 10px solid yellow;
	border-radius: 25px;
	background-color: #D0E0F0;
	opacity: 0.0;
	font-family: courier; ! temporary so sizing is easy
}

#qboxtext {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#timer {
	position: fixed;
	bottom: 0;
	right: 0;
}

#abox {
	height: 10%;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	
	background-color: #D0E0F0;
	border: 1px solid green;
	opacity: 0.2;
	font-family: courier; ! temporary so sizing is easy

}

#aboxtext {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}